/* Larger View Styles */
@media (min-width: 768px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
    }
  
    #hamburger {
      display: none;
    }
  
    nav ul {
      display: flex;
      flex-direction: row;
      background: none;
    }
  
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  